h4 {
  font-size: 12px;
  font-weight: 500;
}

.column {
  padding-right: 50px;
}

.tab-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100px;
  width: 100%;
  background-color: #f0f0f0;
}

::ng-deep .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  color: #27272A !important;
  font-weight: 700;
  font-size: 14px;
}

::ng-deep .mat-mdc-tab-labels {
  width: 100%;
  flex-grow: 0 !important;
}

::ng-deep .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs > .mat-mdc-tab-header .mat-mdc-tab {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: 500;
  width: 33% !important;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 5px;
}

::ng-deep .mat-mdc-tab.mdc-tab--active {
  background-color: #f0f0f0;
  border-bottom: 2px solid #068fff;
  color: #242424;
}

::ng-deep .mat-mdc-tab-header {
  --mdc-tab-indicator-active-indicator-height: 0px !important;
}

::ng-deep .mat-mdc-tab-list {
  width: 100% !important;
  flex-grow: 0 !important;
}

::ng-deep .mat-mdc-tab-group, ::ng-deep .mat-mdc-tab-nav-bar {
  --mat-tab-header-active-ripple-color: transparent;
  --mat-tab-header-inactive-ripple-color: transparent;
}

.mat-mdc-tab-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.row-full-line {
  width: 100%;
  display: flex;
  justify-content: end;
}

mat-tab {
  display: flex;
  text-align: start;
}

.icon-tabs {
  margin-right: 5px;
}

.form-control {
  border: none;
  border-bottom: 1px solid #E0E0E0;
  border-radius: unset;
  background-color: #f0f0f0;
}

.form-label {
  color: #242424;
  font-size: 14px;
  font-weight: 400;
}

textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border-bottom: 1px solid #313131;
  outline: 0;
}

.actions-footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  padding-right: 15px;
}

#filterWall {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000;
  opacity: 18%;
  z-index: 9998;
}

#overlayObservacao,
#overlayNovoTanque {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 510px;
  height: 310px !important;
  background-color: white;
  z-index: 9999;
  border-radius: 8px;
}

.icon-close {
  font-weight: 300;
  color: #424242;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.icon-close:hover {
  font-weight: 400;
  color: #000;
}

.header-overlay-novo-tanque,
.header-overlay-observacao {
  display: flex;
  justify-content: space-between;
  border-radius: 8px 8px 0 0;
  padding: 12px 16px;
  background: #E4E4E7;
}

.title-observacao-novo-tanque,
.title-observacao-box {
  font-size: 14px;
  font-weight: 600;
  color: #6D6D6D;
}

.content-overlay-novo-tanque,
.content-overlay-observacao {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 245px;
  padding: 24px;
}

.title-novo-tanque,
.title-observacao {
  font-size: 14px;
  font-weight: 600;
  color: #242424;
  margin-bottom: 5px;
}

.buttons-box-novo-tanque,
.buttons-box-observacao {
  display: flex;
  justify-content: end;
  width: 100%;
  margin-top: 10px;
}

.message {
  resize: none;
  width: 100%;
  height: 136px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #D1D1D1;
  border-bottom: 1px solid #616161;
  border-radius: 4px;
}

.form-control {
  background: transparent;
}

/*# sourceMappingURL=tabs-tanque.component.css.map */
