$background-color: #E4E4E7;
$border-botton-color: #313131;
$border-radius: 10px;
$size-30: 30px;
$weight-500: 500;
$weight-700: 700;
$active-tab-color: #27272A;

h4 {
  font-size: 12px;
  font-weight: $weight-500;
}

.column {
  padding-right: 50px;
}

.tab-container {
  display: flex;
  // padding-left: 10px;
  align-items: center;
  justify-content: flex-start;
  height: 100px;
  width: 100%;
  background-color: $background-color;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

::ng-deep {
  .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color: $active-tab-color !important;
    font-weight: $weight-700;
    font-size: 14px;
  }
}

::ng-deep {
  .mat-mdc-tab-labels {
    width: 100%;
    flex-grow: 0 !important;
  }
}

::ng-deep {
  .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs>.mat-mdc-tab-header .mat-mdc-tab {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    font-weight: $weight-500;
    width: 33% !important;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 5px;
  }
}

::ng-deep {
  .mat-mdc-tab.mdc-tab--active {
    background-color: $background-color;
    border-bottom: 2px solid #068fff;
  }
}

::ng-deep {
  .mat-mdc-tab-header {
    --mdc-tab-indicator-active-indicator-height: 0px !important;
  }
}

::ng-deep {
  .mat-mdc-tab-list {
    width: 100% !important;
    flex-grow: 0 !important;
  }
}

::ng-deep {
  .mat-mdc-tab-group, .mat-mdc-tab-nav-bar {
    --mat-tab-header-active-ripple-color: transparent;
    --mat-tab-header-inactive-ripple-color: transparent;
  }
}

.mat-mdc-tab-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.row-full-line {
  width: 100%;
  display: flex;
  justify-content: end;
}

mat-tab {
  display: flex;
  text-align: start;
}

.icon-tabs {
  margin-right: 5px;
}

.form-control {
  border: none;
  border-bottom: 1px solid $border-botton-color;
  border-radius: unset;
  background-color: $background-color;
}

textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border-bottom: 1px solid $border-botton-color;
  outline: 0;
}

.form-label, .form-control, option, select{
  padding-top: 0.10rem;
  padding-bottom: 0.10rem;
  margin-bottom: 5px;
}