<div style="padding-top: 30px">
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Empresas" *ngIf="storage.getRole() === 'ADM_TREVISAN' || storage.getRole() === 'EMPRESA'">
      <div class="example-small-box">
        <div class="column" style="padding-right: 50px">
          <h4>Empresas</h4>
          <h1>12</h1>
        </div>
        <div class="column">
          <h4>Grupos</h4>
          <h1>4</h1>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Técnicos" *ngIf="storage.getRole() === 'ADM_TREVISAN' || storage.getRole() === 'TECNICO' || storage.getRole() === 'EMPRESA'">
      <div class="example-small-box">
        <div class="column" style="padding-right: 50px">
          <h4>Técnicos</h4>
          <h1>12</h1>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Produtores">
      <div class="example-small-box">
        <div class="column" style="padding-right: 50px">
          <h4>Produtores</h4>
          <h1>345</h1>
        </div>
        <div class="column" style="padding-right: 50px">
          <h4>Propriedades</h4>
          <h1>632</h1>
        </div>
        <div class="column">
          <h4>Equipamentos</h4>
          <h1>400</h1>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
