$background-color: #E4E4E7;
$border-radius: 10px;
$size-30: 30px;
$weight-500: 500;
$weight-700: 700;
$active-tab-color: #27272A;

h4 {
  font-size: 12px;
  font-weight: $weight-500;
}

.column {
  padding-right: 50px;
}

.tab-container {
  display: flex;
  padding-left: $size-30;
  align-items: center;
  justify-content: flex-start;
  height: 100px;
  width: 100%;
  background-color: $background-color;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

::ng-deep {
  .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color: $active-tab-color !important;
    font-weight: $weight-700;
    font-size: 14px;
  }
}

::ng-deep {
  .mat-mdc-tab-labels {
    width: $size-30;
  }
}

::ng-deep {
  .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs > .mat-mdc-tab-header .mat-mdc-tab {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    font-weight: $weight-500;
  }
}

::ng-deep {
  .mat-mdc-tab.mdc-tab--active {
    background-color: $background-color;
    border-bottom: 1px solid red;
  }
}









