<div class="row">
  <div class="col-md-3" style="margin-right: 30px; margin-top: 10px">
    <div class="row">
      <span style="font-weight: bold">Volume de peixe</span>
    </div>
    <div class="row" style="margin-top: 10px">
      <div class="col-md-4" style="border-right: 2px solid #09090B"><span>Anterior</span></div>
      <div class="col-md-4" style="font-weight: bold"><span>Atual</span></div>
    </div>
    <div class="row" style="border-bottom: 2px solid #09090B;">
      <div class="col-md-4" style="border-right: 2px solid #09090B"><span>400</span></div>
      <div class="col-md-4" style="font-weight: bold"><span>400</span></div>
    </div>
  </div>
  <div class="col-md-3" style="margin-right: 30px; margin-top: 10px">
    <div class="row">
      <span style="font-weight: bold">N° de peixes por amostra</span>
    </div>
    <div class="row" style="margin-top: 10px">
      <div class="col-md-4" style="border-right: 2px solid #09090B"><span>Anterior</span></div>
      <div class="col-md-4" style="font-weight: bold"><span>Atual</span></div>
    </div>
    <div class="row" style="border-bottom: 2px solid #09090B;">
      <div class="col-md-4" style="border-right: 2px solid #09090B"><span>400</span></div>
      <div class="col-md-4" style="font-weight: bold"><span>400</span></div>
    </div>
  </div>
  <div class="col-md-3" style="margin-right: 30px; margin-top: 10px">
    <div class="row">
      <span style="font-weight: bold">Mortalidade</span>
    </div>
    <div class="row" style="margin-top: 10px">
      <div class="col-md-4" style="border-right: 2px solid #09090B"><span>Anterior</span></div>
      <div class="col-md-4" style="font-weight: bold"><span>Atual</span></div>
    </div>
    <div class="row" style="border-bottom: 2px solid #09090B;">
      <div class="col-md-4" style="border-right: 2px solid #09090B"><span>400</span></div>
      <div class="col-md-4" style="font-weight: bold"><span>400</span></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3" style="margin-right: 30px; margin-top: 10px">
    <div class="row">
      <span style="font-weight: bold">Peso médio (Kg)</span>
    </div>
    <div class="row">
      <div class="col-md-4" style="border-right: 2px solid #09090B"><span>Anterior</span></div>
      <div class="col-md-4" style="font-weight: bold"><span>Atual</span></div>
    </div>
    <div class="row" style="border-bottom: 2px solid #09090B;">
      <div class="col-md-4" style="border-right: 2px solid #09090B"><span>400</span></div>
      <div class="col-md-4" style="font-weight: bold"><span>400</span></div>
    </div>
  </div>
  <div class="col-md-3" style="margin-right: 30px; margin-top: 10px">
    <div class="row">
      <span style="font-weight: bold">Biomassa total (Kg)</span>
    </div>
    <div class="row">
      <div class="col-md-4" style="border-right: 2px solid #09090B"><span>Anterior</span></div>
      <div class="col-md-4" style="font-weight: bold"><span>Atual</span></div>
    </div>
    <div class="row" style="border-bottom: 2px solid #09090B;">
      <div class="col-md-4" style="border-right: 2px solid #09090B"><span>400</span></div>
      <div class="col-md-4" style="font-weight: bold"><span>400</span></div>
    </div>
  </div>
  <div class="col-md-3" style="margin-right: 30px; margin-top: 10px">
    <div class="row">
      <span style="font-weight: bold">Ganho de peso (Kg)</span>
    </div>
    <div class="row">
      <div class="col-md-4" style="border-right: 2px solid #09090B"><span>Anterior</span></div>
      <div class="col-md-4" style="font-weight: bold"><span>Atual</span></div>
    </div>
    <div class="row" style="border-bottom: 2px solid #09090B;">
      <div class="col-md-4" style="border-right: 2px solid #09090B"><span>400</span></div>
      <div class="col-md-4" style="font-weight: bold"><span>400</span></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3" style="margin-right: 30px; margin-top: 10px">
    <div class="row">
      <span style="font-weight: bold">Ração</span>
    </div>
    <div class="row">
      <div class="col-md-4" style="border-right: 2px solid #09090B"><span>Anterior</span></div>
      <div class="col-md-4" style="font-weight: bold"><span>Atual</span></div>
    </div>
    <div class="row" style="border-bottom: 2px solid #09090B;">
      <div class="col-md-4" style="border-right: 2px solid #09090B"><span>400</span></div>
      <div class="col-md-4" style="font-weight: bold"><span>400</span></div>
    </div>
  </div>
  <div class="col-md-3" style="margin-right: 30px; margin-top: 10px">
    <div class="row">
      <span><b>C.A</b> (Conversão alimentar)</span>
    </div>
    <div class="row">
      <div class="col-md-4" style="border-right: 2px solid #09090B"><span>Anterior</span></div>
      <div class="col-md-4" style="font-weight: bold"><span>Atual</span></div>
    </div>
    <div class="row" style="border-bottom: 2px solid #09090B;">
      <div class="col-md-4" style="border-right: 2px solid #09090B"><span>400</span></div>
      <div class="col-md-4" style="font-weight: bold"><span>400</span></div>
    </div>
  </div>
  <div class="col-md-3" style="margin-right: 30px; margin-top: 10px">
    <div class="row">
      <span><b>GPD</b> (Ganho de peso diário)</span>
    </div>
    <div class="row">
      <div class="col-md-4" style="border-right: 2px solid #09090B"><span>Anterior</span></div>
      <div class="col-md-4" style="font-weight: bold"><span>Atual</span></div>
    </div>
    <div class="row" style="border-bottom: 2px solid #09090B;">
      <div class="col-md-4" style="border-right: 2px solid #09090B"><span>400</span></div>
      <div class="col-md-4" style="font-weight: bold"><span>400</span></div>
    </div>
  </div>
</div>
