<div style="position: relative; min-height: 85vh">
  <div class="container-header">
    <img src="../../../../assets/left-arrow.svg" alt="">
    <span style="padding-left: 10px">Voltar para a página principal</span>
  </div>

  <div class="container-form">
    <span style="font-size: 12px; color: #A1A1AA">Dados Pessoais</span>
    <form [formGroup]="form">
      <div class="row g-3">
        <div class="col-3">
          <label id="avatar" for="avatarInput" class="form-label">Foto</label>
          <div class="input-group">
            <input type="file" id="avatarInput" (change)="handleImageUpload($event)" accept="image/*"
                   style="display: none">
            <label for="avatarInput" class="input-group-text" style="cursor: pointer;">
              <div
                style="width: 40px; height: 40px; border-radius: 50%; background-color: #ccc; display: flex; justify-content: center; align-items: center;">
                <img src="assets/pen.svg" alt="Imagem" *ngIf="isEditando" style="width: 50px; height: 50px;">
              </div>
            </label>
          </div>
        </div>
      </div>
      <div class="row g-3">
        <div class="col-3">
          <label id="nome" for="nome" class="form-label required">Nome</label>
          <div class="input-group">
            <input type="text" class="form-control" formControlName="nome"
                   aria-describedby="nome">
            <span class="input-group-text">
          <img src="assets/pen.svg" alt="Imagem" *ngIf="isEditando">
          </span>
          </div>
        </div>
        <div class="col-3">
          <label for="cpf" class="form-label required">CPF</label>
          <div class="input-group">
            <input type="email" class="form-control" formControlName="cpf" id="cpf" appCnpjCpfMask [maxLength]="14">
            <span class="input-group-text">
          <img src="assets/pen.svg" alt="Imagem" *ngIf="isEditando">
          </span>
          </div>
        </div>
        <div class="col-3">
          <label id="celular" for="celular" class="form-label required">Celular</label>
          <div class="input-group">
            <input type="text" class="form-control" formControlName="celular"
                   aria-describedby="empresaImage" appCelularMask [maxLength]="15">
            <span class="input-group-text">
          <img src="assets/pen.svg" alt="Imagem" *ngIf="isEditando">
          </span>
          </div>
        </div>
        <div class="col-3">
          <label id="email" for="email" class="form-label required">E-mail</label>
          <div class="input-group">
            <input type="text" class="form-control" formControlName="email"
                   aria-describedby="empresaImage">
            <span class="input-group-text">
          <img src="assets/pen.svg" alt="Imagem" *ngIf="isEditando">
          </span>
          </div>
        </div>
      </div>

      <div class="row g-3">
        <div class="col-3">
          <label id="empresa" for="empresa" class="form-label required">Empresa</label>
          <select class="form-select" formControlName="empresa">
            <option *ngFor="let empresa of empresas" [value]="empresa.id">{{ empresa.razaoSocial }}</option>
          </select>
        </div>
      </div>
    </form>
  </div>

  <div class="actions-footer">
    <button class="button-no-border" style="margin-right: 10px">Limpar dados</button>
    <button [disabled]="!form.valid" (click)="onSubmit()" [ngClass]="{'button-disabled': !form.valid}">Cadastrar
      Produtor
    </button>
  </div>

  <div class="tipography">
    <h3>Propriedades vinculadas</h3>
  </div>

  <app-table-produtor-vinculado></app-table-produtor-vinculado>

</div>
