$size-px-14: 14px;
$size-px-30: 30px;
$size-percent-10: 10%;
$size-percent-15: 15%;
$grey: #6D6D6D;

table {
  width: 100%;
  border-radius: $size-px-30;
}

table td,
th {
  font-size: $size-px-14;
}

table th {
  color: $grey;
  background: #F4F4F5;
  height: 44px !important;
}

table td {
  color: #09090B;
  font-weight: 500;
  height: 72px;
}

.nome-column,
.local-column,
.tanque-column {
  max-width: 260px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis !important;
  box-sizing: border-box;
}

.tanque-column {
  width: 200px !important;
}

.detalhe-column {
  width: 140px !important;
}

mat-paginator {
  justify-content: center;
}

.mat-elevation-z2 {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow:
    0px -1px 1px -10px rgba(0, 0, 0, 0.25),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

#adm,
#cnpj,
#grupo {
  width: $size-percent-15;
}

#nome {
  border-top-left-radius: 8px;
}

#empresa {
  width: 20%
}

#header-right {
  text-align: right;
}

#paginacao {
  justify-content: space-between;
  padding: 15px;
  border-top: 1px solid #E7E7E7;
}

#detalhe {
  text-align: right;
  padding-right: $size-px-30
}

#paginacao-number {
  padding: 0 10px;
  color: $grey;
  pointer-events: none;
}

//estilização da parte de consulta -------------------------------------

.container-filter {
  display: flex;
  margin-bottom: $size-px-30;
  position: relative;
  width: 100%;
  height: $size-px-30;
  justify-content: flex-start;
}

.input-search-box {
  width: 25%;
  display: flex;
  position: relative;
}

.input-search {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-bottom: 1px solid #585858;
  border-radius: 5px;
  left: 0;
  top: 0;
  height: 100%;
  outline: none;
}

.icon-search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
  font-size: 20px;
  position: absolute;
  right: 0;
  padding-right: 10px;
  cursor: pointer;
}

.input-img {
  height: 80%;
  position: absolute;
  left: 23%;
  padding-top: 5px;
}

// estilização do filtro

#overlay {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  height: 50%;
  background-color: white;
  z-index: 9999;
  border-radius: 10px;
}

.arrow-table-next,
.arrow-table-back {
  border-radius: 50%;
  height: auto;
  width: auto;
  font-size: 34px;
  font-weight: 200;
  color: #3F3F46;
  cursor: pointer;
}

.arrow-table-next {
  transform: rotate(45deg);
}

.arrow-table-back {
  transform: rotate(-135deg);
}

.arrow-table-next:hover,
.arrow-table-back:hover {
  color: #000;
}

.icon-search-info {
  height: auto;
  width: auto;
  color: #3F3F46;
  background: #F4F4F5;
  padding: 5px;
  font-size: 22px;
  border-radius: 50%;
  cursor: pointer;
}

.icon-search-info:hover {
  color: #000;
  background: #dadada;
}

@media screen and (max-width: 1200px) {
  .input-search-box {
    width: 35%;
  }

  .buttons-box {
    width: 65%;
  }

  .nome-column,
  .local-column,
  .tanque-column {
    max-width: 200px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
    box-sizing: border-box;
  }

  .tanque-column {
    max-width: 150px !important;
  }
  
  .detalhe-column {
    max-width: 100px !important;
  }
}


@media screen and (max-width: 950px) {
  .input-search-box {
    width: auto;
  }
}


@media screen and (max-width: 600px) {
  .input-img {
    display: none;
  }
}