mat-sidenav-container {
  height: 100vh;
}

mat-sidenav {
  top: 3vh;
  bottom: 3vh;
  background-color: #27272A;
  border-radius: 8px;
  margin-right: 2vh;
  left: 2vh;
  z-index: 999;
}

.mat-drawer-content {
  position: static;
}

// transition effect ---------------------------
.transition-effect {
  transition: .3s;
}

h2 {
  font-size: 14px;
  font-weight: 400;
  color: #3F3F46;
}

.titulo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: auto;
  font-size: 16px;
  font-weight: 500;
  color: #18181B;
}

button {
  font-size: 14px;
  color: #242424;
  font-weight: 400;
}

.cabecalho {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #52525B;
  padding: 10px 0 10px 0;
}

.user-box {
  display: flex;
  position: relative;
  width: 200px;
  justify-content: end;
  align-items: center;
}

.menu-arrow-icon {
  cursor: pointer;
  margin-left: 10px;
  transition: .3s;
}

.menu-arrow-icon,
.user-msg {
  margin-bottom: 0;
}

.menu-open-arrow-icon {
  transform: rotatex(180deg);
}

img.img-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
}

.user-name-and-icon-box {
  display: flex;
  position: relative;
  justify-content: end;
  align-items: center;
  min-width: 60%;
}

.user-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 90%;
  right: 0;
  background: #fff;
  width: 100%;
  height: 0%;
  overflow: hidden;
  z-index: 999;
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.1),
    0 8px 16px rgba(0, 0, 0, 0.1),
    0 16px 32px rgba(0, 0, 0, 0.1);
  transition: height 0.3s ease;
}

.user-menu-open {
  height: 100px;
  border-top: 2px solid #068fff;
}

.menu-button {
  background: transparent;
  display: flex;
  flex-direction: column;
  border-radius: 0;
  justify-content: left;
  transition: .4s;
}

.menu-button:hover {
  background: #d3d3d3;
}

.content {
  padding: 2vh 5vh 2vh 5vh;
}

.container {
  position: absolute;
  right: 2vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container>* {
  margin-left: 10px;
}

#filterWall {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000;
  opacity: 18%;
  z-index: 9998;
}

#overlayConfirm {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 270px !important;
  padding: 24px;
  background-color: white;
  z-index: 9999;
  border-radius: 8px;
}

.sidebar-button {
  display: flex;
  flex-direction: column;
  height: 30px;
  width: 30px;
  position: absolute;
  bottom: 1%;
  left: 5px;
  transform: translate(50%, -50%);
  cursor: pointer;
}

.menu-icon-line {
  width: 90%;
  height: 10%;
  border-radius: 25px;
  position: absolute;
  background: #fff;
  opacity: 1;
  transition: .4s;
}

.first-line {
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.second-line {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.third-line {
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.first-line-open-menu {
  left: 0px;
  top: 14px;
  width: 95%;
  transform: rotate(45deg);
}

.second-line-open-menu {
  opacity: 0;
  left: 3%;
  transform: rotate(45deg);
}

.third-line-open-menu {
  left: 0px;
  top: 14px;
  width: 95%;
  transform: rotate(-45deg);
}