<div class="container-full" [ngClass]="{'container': sideNavCollapsed}">
  <img class="logo-full" src="{{ logoCollapsed }}" [ngClass]="{'logo-icon': sideNavCollapsed}">

  <div class="itens">
    <h4 class="topic" *ngIf="!sideNavCollapsed">Gestão</h4>
    <ul>
      <ng-container *ngFor="let g of gestaoItems()">
        <li><a href="{{ g.route }}"><img class="icon" src="{{g.icon}}" alt="{{ g.title }}">
            <span class="item" *ngIf="!sideNavCollapsed">{{ g.title }}</span></a></li>
      </ng-container>
      <li class="dropdown">
        <a href="#">
          <img class="icon" src="assets/menu-cadastro-icon.svg" alt="Cadastros">
          <span class="item" *ngIf="!sideNavCollapsed">Cadastros</span>
          <img class="icon" *ngIf="!sideNavCollapsed" src="assets/down-arrow.svg" alt="Cadastros">
        </a>
        <div class="dropdown-content">
          <a href="empresa/cadastrar"><img src="../../assets/subitem-icon.svg" alt="Cadastros">Empresa</a>
          <a href="tecnico/cadastrar"><img src="../../assets/subitem-icon.svg" alt="Cadastros">Técnico</a>
          <a href="produtor/cadastrar"><img src="../../assets/subitem-icon.svg" alt="Cadastros">Produtor</a>
        </div>
      </li>

    </ul>
  </div>

  <mat-divider *ngIf="!sideNavCollapsed"></mat-divider>

  <div class="itens">
    <h4 class="topic topic-child-2" *ngIf="!sideNavCollapsed">Sistema</h4>
    <ul>
      <ng-container *ngFor="let g of sistemaItems()">
        <li class="sidemenu-secondary"><a href="{{ g.route }}"><img class="icon" src="{{g.icon}}" alt="{{ g.title }}">
            <span class="item" *ngIf="!sideNavCollapsed">{{ g.title }}</span></a></li>
      </ng-container>
    </ul>
  </div>
</div>