$size-px-14: 14px;
$size-px-30: 30px;
$size-percent-10: 10%;
$size-percent-15: 15%;
$grey: #6D6D6D;

table {
  width: 100%;
  border-radius: 8px;
}

table td, th {
  font-size: $size-px-14;
}

table th {
  color: $grey;
  background: #F4F4F5;
  height: 44px !important;
}

table td {
  color: #09090B;
  font-weight: 500;
  height: 72px;
}

mat-paginator {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  justify-content: center;
}

.mat-elevation-z2 {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 
  0px -1px 1px -10px rgba(0, 0, 0, 0.25),
  0px 2px 2px 0px rgba(0, 0, 0, 0.14),
  0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

#adm, #cnpj, #grupo {
  width: $size-percent-15;
}

#empresa {
  border-top-left-radius: 8px;
  width: $size-percent-10;
}

#header-right {
  border-top-right-radius: 8px;
  text-align: right;
  padding-right: 40px;
}

#paginacao {
  justify-content: space-between;
  padding: 15px;
  border-top: 1px solid #E7E7E7;
}

#detalhe {
  text-align: right;
  padding-right: 50px;
}

#paginacao-number {
  padding: 0 10px 0 10px;
  color: $grey;
  pointer-events: none;
}

//estilização da parte de consulta -------------------------------------

.container-filter {
  display: flex;
  margin-bottom: $size-px-30;
  position: relative;
  width: 100%;
  height: $size-px-30;
  justify-content: space-between;
}

.input-search-box {
  width: 25%;
  display: flex;
  position: relative;
}

.input-search {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-bottom: 1px solid #585858;
  border-radius: 5px;
  left: 0;
  top: 0;
  height: 100%;
  outline: none;
}

.icon-search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
  font-size: 20px;
  position: absolute;
  right: 0;
  padding-right: 10px;
  cursor: pointer;
}

.icon-circle {
  position: absolute;
  color: #aaaaaa;
  background: #fff;
  font-size: 30px;
  font-weight: 300;
  height: auto;
  width: auto;
}

.number-resting {
  position: absolute;
  top: 0;
  right: -20px;
  z-index: 999;
  font-size: 12px;
  font-weight: 600;
  color: #242424;
}

.buttons-box {
  display: flex;
  width: 75%;
  justify-content: space-between;
}

.box-buttons-2 {
  display: flex;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  padding: 30px;
  width: 30%;
  height: 100%;
  background-color: white;
  z-index: 9999;
}

.button-geral {
  padding: 5px 12px;
}

.filter-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 8px;
}

.icon-filter {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#filter-wall {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000;
  opacity: 18%;
  z-index: 9998;
}

.arrow-table-next,
.arrow-table-back {
  border-radius: 50%;
  height: auto;
  width: auto;
  font-size: 34px;
  font-weight: 200;
  color: #3F3F46;
  cursor: pointer;
}

.arrow-table-next {
  transform: rotate(45deg);
}

.arrow-table-back {
  transform: rotate(-135deg);
}

.arrow-table-next:hover,
.arrow-table-back:hover {
  color: #000;
}

.icon-search-info {
  height: auto;
  width: auto;
  color: #3F3F46;
  background: #F4F4F5;
  padding: 5px;
  font-size: 22px;
  border-radius: 50%;
  cursor: pointer;
}

.icon-search-info:hover {
  color: #000;
  background: #dadada;
}


@media screen and (max-width: 1200px) {
  .input-search-box {
    width: 35%;
  }

  .buttons-box {
    width: 65%;
  }
}


@media screen and (max-width: 950px) {
  .input-search-box {
    width: auto;
  }
}


@media screen and (max-width: 600px) {
  .input-img {
    display: none;
  }
}
