table {
  width: 100%;
  border-radius: 30px;
}

table td,
th {
  font-size: 14px;
}

table th {
  color: #6D6D6D;
  background: #F4F4F5;
}

table td {
  color: #09090B;
  font-weight: 500;
}

.tanque-column,
.propriedade-column,
.data-coleta-column,
.hora-coleta-column,
.racao-column {
  max-width: 150px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis !important;
  box-sizing: border-box;
}

.racao-column,
.data-coleta-column {
  width: 100px !important;
}

.hora-coleta-column {
  width: 140px !important;
}

.detalhe-column {
  width: 100px !important;
}

mat-paginator {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  justify-content: center;
}

.mat-elevation-z2 {
  border: 1px solid #ddd;
  border-radius: 20px;
}

#adm,
#cnpj,
#grupo {
  width: 15%;
}

#tanque {
  border-top-left-radius: 20px;
}

#header-right {
  border-top-right-radius: 20px;
  text-align: right;
}

#paginacao {
  justify-content: space-between;
  padding: 15px 10px 15px 10px;
}

#detalhe {
  text-align: right;
  padding-right: 30px;
}

#paginacao-number {
  padding: 0 10px;
  color: #6D6D6D;
  pointer-events: none;
}

.container-filter {
  display: flex;
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  height: 30px;
  justify-content: start;
}

.input-search-box {
  width: 25%;
  display: flex;
  position: relative;
}

.input-search {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-bottom: 1px solid #585858;
  border-radius: 5px;
  left: 0;
  top: 0;
  height: 100%;
  outline: none;
}

.icon-search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
  font-size: 20px;
  position: absolute;
  right: 0;
  padding-right: 10px;
  cursor: pointer;
}

.input-img {
  height: 80%;
  position: absolute;
  left: 23%;
  padding-top: 5px;
}

#overlay {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  height: 50%;
  background-color: white;
  z-index: 9999;
  border-radius: 10px;
}

.flex-align-itens-center {
  display: flex;
  align-items: center;
}

.arrow-table-next,
.arrow-table-back {
  border-radius: 50%;
  height: auto;
  width: auto;
  font-size: 34px;
  font-weight: 200;
  color: #3F3F46;
  cursor: pointer;
}

.arrow-table-next {
  transform: rotate(45deg);
}

.arrow-table-back {
  transform: rotate(-135deg);
}

.arrow-table-next:hover,
.arrow-table-back:hover {
  color: #000;
}

.icon-search-info {
  height: auto;
  width: auto;
  color: #3F3F46;
  background: #F4F4F5;
  padding: 5px;
  font-size: 22px;
  border-radius: 50%;
  cursor: pointer;
}

.icon-search-info:hover {
  color: #000;
  background: #dadada;
}

@media screen and (max-width: 1200px) {
  .input-search-box {
    width: 35%;
  }
  .buttons-box {
    width: 65%;
  }
}
@media screen and (max-width: 1050px) {
  .tanque-column,
  .propriedade-column,
  .hora-coleta-column {
    max-width: 100px !important;
  }
  .data-coleta-column {
    max-width: 120px !important;
  }
  .racao-column {
    max-width: 90px !important;
  }
  #adm {
    max-width: 150px !important;
  }
  #detalhe {
    width: 100px !important;
  }
  td,
  th {
    padding: 0 5px;
  }
}
@media screen and (max-width: 950px) {
  .input-search-box {
    width: auto;
  }
}
@media screen and (max-width: 600px) {
  .input-img {
    display: none;
  }
}

/*# sourceMappingURL=table-registro-historico.component.css.map */
