<div class="principal">
  <div class="contain">
    <div class="sidenav-header">
      <img class="logo-full" src="{{ logoCollapsed() }}" [ngClass]="{'logo-icon': sideNavCollapsed()}">
    </div>

    <span matListItemTitle class="topic" *ngIf="!sideNavCollapsed()">Gestão</span>

    <mat-nav-list>
      <a mat-list-item *ngFor="let item of gestaoItems()" [routerLink]="item.route">
        <img matListItemIcon src="{{item.icon}}">
        <span matListItemTitle>{{ item.title }}</span>
      </a>

      <a mat-list-item>
        <img matListItemIcon src="assets/cadastros-grey.svg">
        <span matListItemTitle>Cadastros</span>
      </a>

      <a mat-list-item [routerLink]=" 'cadastrar/empresa' ">
        <span matListItemTitle>Empresa</span>
      </a>

    </mat-nav-list>


    <div class="divider">
      <img src="assets/Line%201.svg" *ngIf="!sideNavCollapsed()">
    </div>

    <span matListItemTitle class="topic" *ngIf="!sideNavCollapsed()">Sistema</span>

    <mat-nav-list>
      <a mat-list-item *ngFor="let item of sistemaItems()" [routerLink]="item.route">
        <img matListItemIcon src="{{item.icon}}">
        <span matListItemTitle>{{ item.title }}</span>
      </a>
    </mat-nav-list>
  </div>
</div>
