.container-adms {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  overflow: auto;
  gap: 40px;
}

.avatar {
  display: flex;
  align-items: center;
  margin-left: 0;
}

.avatar-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #52525B;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

.avatar p {
  font-size: 14px;
  text-align: center;
  margin: auto 10px;
}

.license-info {
  margin-left: 5px;
}

.exclude-button {
  text-decoration: none;
  color: #CD0000;
  font-weight: 600;
}

.exclude-icon {
  color: #CD0000;
  cursor: pointer;
}

mat-expansion-panel {
  border: none;
}

mat-panel-title {
  display: flex;
  height: 44px;
  justify-content: space-between;
  align-items: start;
  text-align: center;
  border-radius: unset !important;
  border-bottom: 1px solid #52525B;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.mat-accordion .mat-expansion-panel:last-of-type {
  border-bottom-right-radius: unset !important;
  border-bottom-left-radius: unset !important;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

.nmr-licencas {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.license-arrow-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  margin-left: 20px;
  font-weight: 300;
  transition: .5s;
}

.license-arrow-icon-open {
  transform: rotateX(180deg);
}

::ng-deep {
  .mat-expansion-indicator {
    display: none;
  }
}

::ng-deep {
  .mat-expansion-panel-header {
    height: 44px !important;
    display: flex;
    align-items: start !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}

// ::ng-deep {
//   .mat-expansion-panel-content {
//     margin: 0 24px;
//   }
// }

.panel-contents {
  display: flex;
  justify-content: space-between;
}

.infos-content {
  display: flex;
  flex-direction: column;
}

::ng-deep {
  .mat-expansion-panel-body {
    padding: 16px 24px !important;
  }
}

#filter-wall {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000;
  opacity: 18%;
  z-index: 9998;
}

#overlayAdm {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 30%;
  min-height: 400px;
  height: auto;
  background-color: #fff;
  z-index: 9999;
  border-radius: 10px;
}

#overlayExclusion {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 270px !important;
  padding: 24px;
  background-color: white;
  z-index: 9999;
  border-radius: 8px;
}

.icon-close {
  font-weight: 300;
  color: #424242;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.icon-close:hover {
  font-weight: 400;
  color: #000;
}

.overlay-delete-header {
  display: flex;
  height: 32px;
  justify-content: space-between;
}

.overlay-delete-header span {
  font-size: 14px;
  font-weight: 600;
  color: #52525B;
}

.overlay-delete-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 190px;
}

.overlay-delete-text {
  font-size: 14px;
  font-weight: 400;
  color: #242424;
  padding-top: 30px;
}

.overlay-delete-buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.confirm-delete-button {
  color: #fff;
  background: #CD0000;
  margin-bottom: 5px;
}
