.container-adms {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  overflow: auto;
  gap: 40px;
}

.avatar {
  display: flex;
  align-items: center;
  margin-left: 0;
}

.avatar-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #52525B;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: white;
}

.avatar p {
  font-size: 14px;
  text-align: center;
  margin: auto 10px;
}

.license-info {
  margin-left: auto;
}

mat-expansion-panel {
  border: none;
  border-radius: unset !important;
  border-bottom: 1px solid #52525B;
  background-color: transparent;
}

.mat-accordion .mat-expansion-panel:last-of-type {
  border-bottom-right-radius: unset !important;
  border-bottom-left-radius: unset !important;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

#overlay {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  height: 55%;
  background-color: white;
  z-index: 9999;
  border-radius: 10px;
}
