.geral {
  position: relative;
  //background-image: url('assets/background.svg');
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 100vh;
  margin-right: 10vh;
}

.login-container {
  align-items: center;
  border-radius: 24px;
  justify-content: center;
  position: relative;
  display: flex;
  width: 45vh;
  height: 90vh;
  background-color: #27272A;
}

img {
  position: absolute;
  top: 3vh;
  left: 3vh;
}

.login-form img.icons {
  position: relative;
  top: 0;
  left: 0;
  padding-top: 10px;
  padding-bottom: 20px;
  max-width: 15%;
}

.login-form {
  display: flex;
  position: absolute;
  align-items: normal;
  flex-direction: column;
  justify-content: center;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 90%;
  height: 85%;
  max-width: 400px;
  background: #27272A;
}

.login-container h1 {
  color: white;
  text-align: left;
  font-size: 32px;
  font-weight: 600;
}

.login-container h2 {
  color: white;
  text-align: left;
  font-size: 28px;
  font-weight: 600;
}

.login-container h4 {
  text-align: left;
  color: white;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 30px;
  line-height: 20px;
}

.form-group {
  margin-bottom: 15px;
  position: relative;
  width: 100%;
  justify-content: center;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  position: relative;
}

input[type="password"] {
  padding-right: 30px;
}

img.toggle-password {
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translateY(-50%);
  cursor: pointer;
}

.form-group input[type="submit"] {
  background-color: #068FFF;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

.login-container a {
  display: block;
  text-align: center;
  color: #A1A1AA;
  font-size: 14px;
  margin-top: 15px;
  font-weight: 600;
  text-decoration: underline;
}

.back {
  position: absolute;
  bottom: 3vh;
  left: 3vh;
}

.error-message {
  color: red;
  padding-bottom: 2vh;
}

::placeholder {
  color: #707070;
  font-size: 14px;
  font-weight: 400;
}
