<div style="padding-top: 30px">
  <div style="padding-bottom: 30px; display: flex; flex-direction: column; align-items: center;">
    <div class="row" style="width: 100%">
      <h2>Empresas cadastradas</h2>
    </div>
  </div>

  <div class="form-group">
    <input class="input-search" type="text" placeholder="O que você procura?" [(ngModel)]="razaoSocial" >
    <img src="assets/search-icon.svg" class="input-img" (click)="search()">
    <button type="button" class="button-geral" style="margin-right: 10px" [routerLink]=" 'cadastrar/empresa'">Nova Empresa</button>
    <button type="button" class="button-white" (click)="exibirQuadrado()">Filtrar<img src="assets/filter.svg"
                                                                                      alt="Imagem Redonda"
                                                                                      style="padding-left: 10px">
    </button>
  </div>

  <div class="mat-elevation-z8" style="border-radius: 10px">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="razaoSocial">
        <th mat-header-cell *matHeaderCellDef id="header-left" style="width: 10%">Empresa</th>
        <td mat-cell *matCellDef="let element"> {{ element.razaoSocial }}</td>
      </ng-container>

      <ng-container matColumnDef="administradores">
        <th mat-header-cell *matHeaderCellDef style="width: 15%">Administrador</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngFor="let img of element.administradores">
            <img src="assets/pedro.jpg" class="img-avatar" alt="{{ img.nome }}">
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="cnpjCpf">
        <th mat-header-cell *matHeaderCellDef style="width: 15%">CNPJ/CPF</th>
        <td mat-cell *matCellDef="let element"> {{ element.cnpjCpf }}</td>
      </ng-container>

      <ng-container matColumnDef="grupo">
        <th mat-header-cell *matHeaderCellDef style="width: 15%">Grupo</th>
        <td mat-cell *matCellDef="let element"> {{ element?.grupo?.nome }}</td>
      </ng-container>

      <ng-container matColumnDef="plano">
        <th mat-header-cell *matHeaderCellDef>Plano</th>
        <td mat-cell *matCellDef="let element"> {{ element?.plano }}</td>
      </ng-container>

      <ng-container matColumnDef="detalhe">
        <th mat-header-cell *matHeaderCellDef id="header-right">Detalhes</th>
        <td mat-cell *matCellDef="let element" style="text-align: right; padding-right: 30px"><img
          src="assets/search.svg" style="height: 30px;"></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div style="display: flex; align-items: center; justify-content: space-between; padding: 15px 10px 15px 10px">
      <img src="assets/Esquerda.svg" style="width:30px" (click)="voltar()">
      <div style="display: flex; align-items: center;">
        <ng-container *ngFor="let number of getSequence(totalPage)">
          <span style="padding: 0 10px 0 10px; font-family: 'Work Sans',serif; color: #6D6D6D" (click)="paginado(number)">{{ number }}</span>
        </ng-container>
      </div>
      <img src="assets/direita.svg" style="width:30px;" (click)="avancar()">
    </div>
  </div>

</div>

<!--TODO: REFATORAR para componentizar-->

<div id="overlay">
  <div id="content">
    <div style="text-align: right; padding-bottom: 20px">
      <img src="assets/close.svg" alt="Imagem Redonda" style="width: 15px" (click)="fecharQuadrado()">
    </div>
    <div class="conta">
      <h2>Filtragem</h2>
      <h3>Limpar todos</h3>
    </div>
    <mat-divider style="margin-bottom: 15px"></mat-divider>
    <div style="padding: 15px 20px 30px 0">
      <h5 class="h5-bold">Filtros aplicados</h5>
      <h5>Nenhum selecionado</h5>
    </div>
    <div style="padding-bottom: 30px">
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Planos
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="checkbox-container">
            <mat-checkbox class="checkbox-item" *ngFor="let opcao of opcoes; let i = index" [(ngModel)]="checkedPlanos[i]">{{ opcao }}</mat-checkbox>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Local
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="checkbox-container">
            <mat-checkbox class="checkbox-item" *ngFor="let cidade of cidades; let i = index" [(ngModel)]="checkedCidades[i]">{{ cidade }}</mat-checkbox>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Empresa
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="checkbox-container">
            <mat-checkbox class="checkbox-item">C-Vale</mat-checkbox>
            <mat-checkbox class="checkbox-item">Copacol</mat-checkbox>
            <mat-checkbox class="checkbox-item">Grupo MSB</mat-checkbox>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div style="margin-top: 50%">
      <button type="button" class="button-geral-full" (click)="fecharQuadrado()"
              [style.background-color]="hasFilter ? '#068FFF' : '#D4D4D4'">Ver resultados
      </button>
    </div>
  </div>
</div>
