<div style="position: relative; min-height: 85vh">
  <div class="container-header">
    <a href="/inicio"><mat-icon class="icon back-icon material-symbols-rounded">arrow_back</mat-icon></a>
    <span style="padding-left: 10px">Voltar para a página principal</span>
  </div>

  <span class="page-subtitle">Suas atividades</span>

  <mat-tab-group animationDuration="0ms" (selectedTabChange)="onTabChange($event)">
    <mat-tab label="Novos">
      <ng-template mat-tab-label>
        Novos
      </ng-template>
      <div class="message-container">
        <div class="user">
          <img src="assets/avatar.svg" alt="" class="user-perfil-image">
          <span class="user-name">Diogo Garbo</span>
        </div>
        <div class="message">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</div>
      </div>
    </mat-tab>

    <mat-tab label="Lidos">
    </mat-tab>
  </mat-tab-group>
</div>
