h4 {
  font-size: 12px;
  font-weight: 500;
}

.column {
  padding-right: 50px;
}

.container-header a {
  display: flex;
  text-align: center;
}

.container-header {
  display: flex;
  margin-bottom: 50px;
  cursor: default;
}

.back-icon {
  color: #333333;
  font-weight: 300;
  cursor: pointer;
}

.back-icon:hover {
  color: #000;
}

.tab-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100px;
  width: 100%;
  background-color: #E4E4E7;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

::ng-deep .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  color: #27272A !important;
  font-weight: 700;
  font-size: 14px;
}

::ng-deep .mat-mdc-tab-labels {
  width: 100%;
  flex-grow: 0 !important;
}

::ng-deep .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs > .mat-mdc-tab-header .mat-mdc-tab {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  width: 0px;
  height: auto;
}

::ng-deep .mat-mdc-tab.mdc-tab {
  height: 40px !important;
  width: 0px !important;
}

::ng-deep .mat-mdc-tab.mdc-tab--active {
  border-bottom: 4px solid #068fff;
}

::ng-deep .mat-mdc-tab-header {
  --mdc-tab-indicator-active-indicator-height: 0px !important;
  margin: 30px 0 50px 0;
}

::ng-deep .mat-mdc-tab-list {
  flex-grow: 0 !important;
}

::ng-deep .mat-mdc-tab-group, ::ng-deep .mat-mdc-tab-nav-bar {
  --mat-tab-header-active-ripple-color: transparent;
  --mat-tab-header-inactive-ripple-color: transparent;
}

.mat-mdc-tab-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
}

.page-subtitle {
  font-size: 24px;
  font-weight: 600;
  color: #6D6D6D;
  padding-left: 40px;
}

.message-container {
  display: flex;
  justify-content: space-evenly;
  padding: 12px 0;
  width: 95%;
  height: auto;
  border-bottom: 1px solid #E7E7E7;
  cursor: pointer;
  transition: 0.4s;
}

.message-container:hover {
  background: #dddddd;
}

.message {
  padding-right: 100px;
  font-size: 12px;
  font-weight: 600;
  color: #52525B;
  width: 60%;
  text-align: justify;
}

.message-date {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  color: #A1A1AA;
}

.user {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 20%;
}

.user-perfil-image {
  height: 32px;
  padding-right: 10px;
}

.user-name {
  font-size: 12px;
  color: #18181B;
  font-weight: 600;
}

#popMessage {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  width: 45%;
  height: 70%;
  border-radius: 8px;
  background: #fff;
  z-index: 9999;
}

#popMessageWall {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000;
  opacity: 18%;
  z-index: 9998;
}

.popMessage-box {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.popMessage-close {
  display: flex;
  justify-content: end;
  width: 100%;
  margin-bottom: 40px;
  color: #424242;
  cursor: pointer;
}

.popMessage-close:hover {
  color: #000;
}

.popMessage-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.popMessage-owner {
  font-size: 16px;
  font-weight: 600;
  color: #242424;
}

.popMessage-date {
  font-size: 14px;
  font-weight: 400;
  color: #52525B;
}

.popMessage-content {
  font-size: 14px;
  font-weight: 400;
  text-align: justify;
  color: #71717A;
}

.popMessage-closeButton {
  position: absolute;
  width: 10%;
  bottom: 0;
  right: 0;
}

/*# sourceMappingURL=notificacao.component.css.map */
